<h1 class="ui center aligned header">Welcome to Meatball Chat</h1>

<h2 class="ui center aligned medium icon header">
  <i class="circular red comments icon"></i>
  Login to continue
</h2>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
        <%= render 'users/form', new_form: true, edit_form: false, f: f%>        
        <%= f.button "Login", class: "ui orange submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <%= link_to signup_path, class: "ui red big button" do %>
        <i class="signup icon"></i>
        Sign Up
      <% end %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>