<div class="twelve wide column">
  <div class="<%='ui fluid '+@user.color+' raised card chatbox'%>">
    <div class="content" id="messages">
      <div class="ui feed" id="<%= @friend!=0 ? 'message-container-friend-'+@friend.to_s+'-from-'+current_user.id.to_s : 'message-container'  %>">
        <%= render @messages %>
      </div>
    </div>
    <div class="extra content">
      <%= render 'chatroom/message_send_form.html.erb'%>
    </div>
  </div>
</div>