<div class="item">
    <%= link_to '/user/'+friend.friend_id.to_s do %>
        <div class="ui image label">
            <%= render 'shared/user_image', myUser: User.where(id: friend.friend_id).first %>
            <%= User.where(id: friend.friend_id).first.username %> 
        </div>       
    <% end %>
</div>