<h2 class="ui center aligned medium icon header">
  <i class="circular <%=current_user.color%> comments icon"></i>
  Say Something
</h2>




<div class="ui two column grid">
  <%= render 'chat_menu'%>
  <%= render 'friends_menu' %>
</div>
