<h1>@<%= @user.username%></h1>

<h2>Messages Sent</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Sent</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @messages.each do |msg| %>
        <tr>
            <td data-label="User" class=""><%= msg.created_at.to_formatted_s(:long_ordinal)%></td>
            <td data-label="Friend" class="">
                <%= msg.body%>
            </td>
        </tr>
<% end %>
</tbody>
</table>