<h2 class="ui center aligned medium icon header">
  <i class="circular <%=current_user.color%> users icon"></i>
    Users
</h2>
<table class="ui selectable inverted table">
<%= render 'shared/table_header', headers: [
            ['/users/name', nil, 'User'],
            ['/users/messages', nil, 'Message Count'],
            ['/users/friends', nil, 'Friend Count'],
            ['/users/is_friends', nil, 'Add or Remove Friend']
        ] %>
<tbody>
<% @users.each do |u| %>
    <% if u != @user %>
        <%= render 'user_table_row', u:u %>
    <%end%>
<% end %>
</tbody>
</table>