<h1>Users</h1>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="center aligned">User</th>
        <th class="center aligned">Add or Remove Friend</th>
    </tr>
</thead>
<tbody>
<% @users.each do |u| %>
    <% if u != @user %>
        <tr>
            <td data-label="User" class="center aligned" style="color: <%= u.color%>"><%= u.username%></td>
            <td data-label="Friend" class="center aligned">
                <% if @friendships.where(friend_id: u.id).first%>
                    <%= link_to 'Remove Friend?', friendships_path(friend_id: u.id),
                              class: "ui inverted red button", method: :post %>
                <%else%>
                <%= link_to 'Add Friend?', friendships_path(friend_id: u.id),
                              class: "ui inverted green button", method: :post %>
                <%end%>
            </td>
        </tr>
    <%end%>
<% end %>
</tbody>
</table>