<h1>Users</h1>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="center aligned">User</th>
        <th class="center aligned">Add or Remove Friend</th>
    </tr>
</thead>
<tbody>
<% @users.each do |u| %>
    <% if u != @user %>
        <tr>
            <td data-label="User" class="center aligned"><%= u.username%></td>
            <td data-label="Friend" class="center aligned">
                <% if @friendships.where(friend_id: u.id).first%>
                  <button class="ui inverted red button">Remove</button>
                <%else%>
                    <button class="ui inverted green button">Add</button>
                <%end%>
            </td>
        </tr>
    <%end%>
<% end %>
</tbody>
</table>