<%= render 'shared/user_image', myUser: u, myClass: myClass,  myStyle:"vertical-align: text-bottom"%>

<%= link_to '/user/'+u.id.to_s do %>
    <span style="color: <%= u.color%>">
        <%= u.username %>
    </span>
<%end%>