<h2>
    <i class="users icon"></i>
    Friends
</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Friends Since</th>
        <th class="eight wide">Friend Name</th>
        <th class="four wide">Add Friend?</th>
    </tr>
</thead>
<tbody>
<% @friendships.each do |friend| %>
    <tr>
      <td data-label="Time" class=""><%= friend.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long_ordinal)%></td>
      <td data-label="Body" style="color: <%= User.where(id: friend.friend_id).first.color %>">
        
        <%= render 'shared/avatar_username', u: User.where(id: friend.friend_id).first, myClass: "profile-pic"%>
        
      </td>
      <td><%= render 'shared/friendship_button', f: current_user.friendships, u: User.where(id: friend.friend_id).first %></td>
    </tr>
<% end %>
</tbody>
</table>