<h2>
    <i class="heart icon"></i>
    Liked Messages
</h2>
<table class="ui selectable inverted table">
    <%= render 'shared/table_header', headers: [
            [@base_url+'liked_on', 'four', 'LikedOn'],
            [@base_url+'liked_user', 'four', 'User'],
            [nil, 'eight', 'Message'],
        ] %>
<tbody>
<% @likes.each do |msg| %>
        <tr>
            <%= render 'shared/table_time_body', time: msg.created_at%>            
            <td data-label="User" class="">
                <%= render 'shared/avatar_username', u: msg.user, myClass: "profile-pic"%>            
            </td>
            <%= render 'shared/table_message_body', msg: msg%>
        </tr>
<% end %>
</tbody>
</table>