<h2>Liked Messages</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">User</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @likes.each do |msg| %>
        <tr>
            <td data-label="Time" class="">
                <%= render 'shared/avatar_username', u: msg.user, myClass: "profile-pic"%>            
            </td>
            <td data-label="Body" class="">
                <%= msg.body%>
                <% if msg.photo.attached? %>
                    <br />
                    <%= image_tag msg.photo, class: "message-body-pic"%>
                <% end %>
            </td>
        </tr>
<% end %>
</tbody>
</table>