<h2>
    <i class="mail icon"></i>
    Messages Sent
</h2>
<table class="ui selectable inverted table">
    <%= render 'shared/table_header', headers: [
            [@base_url+'message_sent', 'four', 'Sent'],
            [nil, 'ten', 'Message'],
            [@base_url+'message_likes', 'two', 'Likes'],
        ] %>
    <tbody>
    <% @sentMessages.each do |msg| %>
            <tr>
                <%= render 'shared/table_time_body', time: msg.created_at%>
                <%= render 'shared/table_message_body', msg: msg%>
                <td><%= msg.likes.count%></td>
            </tr>
    <% end %>
    </tbody>
</table>