<div class="two wide column">
    <%= render 'shared/user_image', myUser: @user, myClass: "profile-page-pic" %>
</div>
<div class="two wide column">
    <h1 style="color: <%= @user.color%>">@<%= @user.username%></h1>
</div>