<div class="ui grid container">
    <div class="row items-vert-center">
        <%= render 'shared/user_header'%>
    </div>
</div>

<%= render 'shared/user_page'%>


<% if @curr.friendships.where(friend_id: @user.id).first%>
    <%= link_to 'Remove Friend?', friendship_path(friend_id: @user.id),
            class: "ui inverted red button", method: :delete %>
<%else%>
    <%= link_to 'Add Friend?', friendships_path(friend_id: @user.id),
            class: "ui inverted green button", method: :post %>
<%end%>