<div class="ui grid container">
    <div class="row items-vert-center">
        <%= render 'shared/user_header'%>
    </div>
</div>

<%= render 'shared/user_page'%>

<%= render 'shared/friendship_button', f: @curr.friendships, u: @user %>