

<div class="ui center aligned grid container">
    <%= render 'shared/user_header'%>
</div>

<h3>Direct Message</h3>
<%= render 'chatroom/chat_menu'%>

<%= render 'shared/user_page'%>

<%= render 'shared/friendship_button', f: @curr.friendships, u: @user %>