@import "semantic-ui";

.chatbox {
  height: 450px;
}

.redText {
  color: red;
}

.profile-pic {
  width: 20px !important;
  height: 20px !important;
  border-radius: 2%;
}

.profile-page-pic {
  width: 80px !important;
  height: 80px !important;
  border-radius: 2%;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}

.current-user-message {
  background: lightgrey;
}

.chat-message {
  padding: 0.5rem;
  border-radius: 2%;
}

.items-vert-center {
  align-items: center !important;
}

.message-pic {
  width: 55px !important;
  height: 55px !important;
  border-radius: 2%;
}
