<div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
        <% if logged_in? %>
            <%= link_to "Profile", profile_path, class: "nav-link item" %>    
            <%= link_to "Edit Profile", profile_edit_path, class: "nav-link item" %>    
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link item" %>   
        <% else %>
            <%= link_to "Login", login_path, class: "nav-link item" %>
        <% end %> 
    </div>
</div>
